@{
    ViewData["Title"] = "Witam Witam";
}

<div class="text-center">
    <h1 class="display-4">Witam</h1>
    <p>Kliknij "Car App" w lewym górnym rogu okna, aby przejść do aplikacji.</a>.</p>
</div>
